* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  text-decoration: none;
}

.App {
  background-color: #e4edd9;
  background-image: url("https://static.vecteezy.com/system/resources/previews/026/481/532/large_2x/serenity-and-peace-with-this-breathtaking-4k-wallpaper-depicting-a-tranquil-natural-landscape-free-photo.jpg");
  background-size: cover;
  height: 100vh; /* viewport height */
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_container {
  opacity: 0.95;
  display: flex;

  width: 90%;
  height: 90vh;
  background-color: #d5e6e6;

  box-shadow: 5px 10px 12px 4px rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

img {
  width: 75%;

  height: 100%;
}
